.page-about {
    background-color: var(--main-light);
}

.about {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 30px;
    }
}

.about__item {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
    }
}

.about-overlay {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

    background-color: var(--primary-background);
}

.about__icon {
    width: 100%;
}

.about__title {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

    font-size: var(--text-size);
    line-height: 1.1;
    text-transform: uppercase;
}

.about__text {
    margin-top: 0;
    margin-bottom: 0;

    line-height: 1.7;

    color: var(--secondary-color);
}