@media screen and (max-width: 1199px) {
    .page-header-container {
        justify-content: space-between;
    }

    .contact-list .contact__item+.contact__item {
        margin-top: 10px;
    }

    .contact__wrapper-top .contact__link {
        padding-top: 16px;
    }

    .contact__wrapper-bottom .contact__link {
        padding-bottom: 16px;
    }
}

@media screen and (max-width: 767px) {
    .site-nav {
        display: none;
    }

    .contact-list {
        display: none;
    }
}

.page-header-container {
    display: flex;
    align-items: center;
}

.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    transition: fill 250ms var(--transition-dur-and-func);
}

.mobile-menu-open__icon {
    fill: var(--primary-color);

    &:hover, 
    &:focus {
        fill: var(--accent-color);
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu-open {
        display: none;
    }
}

.site-nav-list {
    display: flex;
    align-items: center;

    & .site-nav__item+.site-nav__item {
        margin-left: 50px;
    }
}

.site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;

    color: var(--primary-color);
}

.site-nav__link_active {
    color: var(--accent-color);

    &:after {
        position: absolute;
        display: inline-block;
        content: "";
        width: 100%;
        height: 4px;
        bottom: 0;
        right: 0;
        z-index: 2;

        background: var(--accent-color);
        border-radius: 2px;
    }
}

.contact__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--secondary-color);
}

.contact__link_icon {
    transition: color 250ms var(--transition-dur-and-func);
    fill: currentColor;
}

.contact__icon {
    margin-right: 8px;
}

@media screen and (min-width: 1200px) {
    .site-nav-list {
        margin-left: 93px;
    } 

    .contact-list {
        display: flex;
        margin-left: auto;

        & .contact__item+.contact__item {
            margin-left: 50px;
        }
    }

    .contact__link {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: 1.1;
    }

    .contact__icon {
        margin-right: 10px;
    }
}

