.hero {
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 0;
    text-align: center;

    background-color: var(--secondary-background);
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/hero-phone.jpg");
    background-size: 480px 400px;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    white-space: pre-line;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;

    color: var(--main-light);
}

@media screen and (max-width: 767px) {

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
    screen and (min-resolution: 192dpi) and (min-width: 480px),
    screen and (min-resolution: 2dppx) and (min-width: 480px) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/hero-phone@2x.jpg");
        }
    }

    @media screen and (min-device-pixel-ratio: 3) and (min-width: 480px),
    screen and (min-resolution: 288dpi) and (min-width: 480px),
    screen and (min-resolution: 3dppx) and (min-width: 480px) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/hero-phone@3x.jpg");
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .hero {
        max-width: 768px;
        height: 400px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/hero-tablet.jpg");
        background-size: 768px 400px;
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/hero-tablet@2x.jpg");
        }
    }

    @media screen and (min-device-pixel-ratio: 3) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 288dpi) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 3dppx) and (min-width: 768px) and (max-width: 1199px) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/hero-tablet@3x.jpg");
        }
    }

}

@media screen and (min-width: 1200px) {
    .hero {
        padding: 200px 0;
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/hero-desktop.jpg");
        background-size: 1600px 600px;
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/hero-desktop@2x.jpg");
        }
    }

    @media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px),
    screen and (min-resolution: 288dpi) and (min-width: 1200px),
    screen and (min-resolution: 3dppx) and (min-width: 1200px) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/hero-desktop@3x.jpg");
        }
    }

    .hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
    }
}



