@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu {
    padding: 48px 10px 48px 40px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--main-light);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    flex-direction: column;
    right: 0;
    // overflow: scroll;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms var(--transition-dur-and-func), visibility 250ms var(--transition-dur-and-func), fill 250ms var(--transition-dur-and-func);
}

.mobile-menu__close-icon {
    fill: var(--primary-color);
}

.mobile-menu__close-icon:hover,
.mobile-menu__close-icon:focus {
    fill: var(--accent-color);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__container {
    position: relative;
}

.mobile-menu__close-btn {
    position: absolute;
    top: 16px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0; 
}

.mobile-nav {
    margin-bottom: 250px;
}

.mobile-nav .mobile-nav__item+.mobile-nav__item {
    margin-top: 32px;
}

.mobile-nav__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--primary-color);
}

.mobile-nav__link_active {
    color: var(--accent-color);
}

.mobile-contact {
    margin-bottom: 64px;
}

.mobile-contact__item {
    height: 40px;
}

.mobile-contact__item:first-child {
    margin-bottom: 32px;
}

.mobile-contact__link {
    height: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--secondary-color);
    transition: font-size 250ms var(--transition-dur-and-func), color 250ms var(--transition-dur-and-func);
}

.mobile-contact__link:hover,
.mobile-contact__link:focus {
    font-size: 34px;
}

.mobile-social {
    display: flex;
    flex-wrap: wrap;
}

.mobile-social__item {
    position: relative;
}

.mobile-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--accent-color);
    
}

.mobile-social__item:not(:first-child)::before {
    content: '';
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    width: 22px;
    height: 0;
    margin-right: 10px;
}


.mobile-social .mobile-social__item+.mobile-social__item {
    margin-left: 20px;
}



